body {
    font-family: 'Roboto', sans-serif;

}

.body {
    background-color: white;
}

.nbody {
    background-color: #022C43;
}

.app {
    width: 400px;
    margin: auto;
}




.avatar {
    padding:20px;
}

.name {
    font-weight: bold;
    padding: 4px;
}

.img {
    width: 40px;
    border-radius: 25px;
    margin-right: 10px;
}

.header, .nheader {
    box-sizing: border-box;
    background-color: white;
    margin: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(243, 243, 243);
    font-weight: bold;
}

.nheader {
    background-color: #115173;
    color: white;
    border-bottom: none;
}


.time{ 
    text-align: right;
}

.messages, .nmessages {  
    background-color: white; 
    display: flex;
    height: 90px;
}

.nmessages{
    background-color: #053F5E;
    color: white;
}

.message-cont {
    width: 300px;
}

.messages:hover .delbutton{
    color: lightgrey;
}

.nmessages:hover .ndelbutton{
    color: grey;
}

.delbutton, .ndelbutton {
    background-color: white;
    border: none;
    color: white;
    
}

.delbutton:hover, .ndelbutton:hover {
    cursor: pointer;
    color: red;
}

.ndelbutton {
    background-color: #053F5E;
    color: #053F5E;
}

.time {
    padding: 4px;
    font-size: 13px;
    color: grey;
}

.night, .nnight {
    background-color: white;
    border: none;
    color: rgb(46, 119, 255);
    font-size: 16px;
}

.night:hover, .nnight:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.nnight {
    background-color: #115173;
    color: white;
}

.nnight:hover {
    color: white;
}

.input {
    width: 330px;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 15px;
}

.position {
    display: flex;
    position: fixed;
    bottom: 5px;
}

.send {
    background-color: blue;
    width: 40px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 4px;
    margin-left:3px ;
    transition: .2s;
}

.send:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px grey;
}